{% load static %}

<html>
	<title>Blog Page</title>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	</head>
<body>


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">

			{% block body%}

				<h1>Replace your code Here</h1>

				{% endblock %}
		</div>
	</div>
</div>



<footer>

      <div class="container text-center">
        <p class="text-muted">&copy; Blog Name All rights reserved<a href="#0"> Terms of privacy and policy</a></p>
      </div>    
</footer>




</body>
</html>